$icon-layout: diagonal;
$icon-spacing: 5lpx;
$icon-width: image-width('./icon/pinterest.png');
$icon-height: image-height('./icon/pinterest.png');

@import "compass/utilities/sprites/sprite-img";
@import "compass/css3";
@import "compass/typography/lists/inline-block-list";
@import "./icon/*.png";

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    }
}

@font-face {
    font-family: "Hero Light";
    src: "fonts/Hero.otf";
}

$full-width: 100%;
$width: 800px;

/* Space out content a bit */

body {
    font-family: "Hero Light", "微軟正黑體";
    display: table;
    width: 100%;
    height: 100%;
    margin: 0px;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Hero Light", "微軟正黑體";
}

ul, li {
    list-style: none;
}

a {
    @include transition(all 0.5s ease);
    color: #888;

    &:hover, &:focus {
        text-decoration: none;    
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

header {
    width: $width;
    margin: 30px auto 20px;
    padding-left: 15px;
}

nav {
    width: $width;
    margin: auto;

    ul {
        margin: 10px 0;
    }

    #main-btn, #lang {

        .btn {
            background: none;
            outline: 0;

            &:active, &.active {
                box-shadow: none;
            }
        }

    }

    #main-btn {
        .btn-group {
            margin-right: 40px;
        }

        #product-list:hover {
            ul.dropdown-menu {
                opacity: 1;
                z-index: 99;
            }
        }

        ul.dropdown-menu {
            @include transition(all 0.5s ease);
            display: block;
            background: none;
            border: none;
            box-shadow: none;
            border-radius: 0px;
            padding: 0px;
            margin: 0px;
            opacity: 0;
            z-index: 0;
            
            li {
                background-color: rgba(#fff, 0.5);
                margin-bottom: 2px;
            }

            a:hover, a:focus {
                background: none;
                color: #fff;
            }
        }
    }

    #lang {
    }
}

footer {
    width: $full-width;
    background-color: #3d342d;
    color: rgba(255, 255, 255, 0.2);

    ul#network-site {
        @include inline-block-list(10px);
        width: 800px;
        padding: 80px 0 25px 0;
        margin: auto;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        text-align: right;

        li {
            padding: 0px;
            padding-left: 20px;

            a {
                &:hover {
                    color: rgba(255, 255, 255, 0.8);
                }
                
                div {
                    width: $icon-width;
                    height: $icon-height;
                }

                .facebook {
                    @include icon-sprite(facebook);
                }

                .pinterest {
                    @include icon-sprite(pinterest);
                }

                .twitter {
                    @include icon-sprite(twitter);
                }

                .weibo {
                    @include icon-sprite(weibo);
                }

                .youtube {
                    @include icon-sprite(youtube);
                }
            }
        }
    }

    p {
        text-align: center;
        margin-top: 20px;
    }
}