// compass:scss
@import "compass/css3";
@import "compass/typography/lists/inline-block-list";
// endcompass

$full-width: 100%;
$width: 800px;

#banner {
	background-color: #959595; // Old browsers
	@include filter-gradient(#959595, #959595, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #959595 0%,#0d0d0d 30%,#010101 50%,#0a0a0a 80%,#959595 100%));
	width: $full-width;
	height: 344px;
	z-index: 10;
	
	.inner {
		width: $width;
		margin: auto;
	}

	ol.carousel-indicators {
		position: relative;
		bottom: 0px;
		margin-top: 15px;
		
		li.active {
			margin: 1px;
			width: 10px;
			height: 10px;
			background-color: #b1ccd3;
		}

		li {
			border: none;
			background-color: #ddd;
		}
	}	
}

ul#phone-list {
	@include inline-block-list(10px);
	width: $width;
	margin: 100px auto;
	padding: 0px;
	
	li {
		width: ( $width - 21px ) / 7;
		padding: 0px;
		margin: 0px;

		.img {
			display: block;
			margin: auto;
		}
		
		.descrip {
			position: absolute;
			width: 111px;
			bottom: 10px;
		}

		.brand, .item {
			text-align: center;
		}
	}
}

#info {
	position: relative;
	width: $width;
	height: 200px;
	margin: auto;

	.new-img {
		left: 0px;
	}

	.hotsale-img {
		right: 0px;
		top: 11px;
	}

	.new-img, .hotsale-img {
		position: absolute;
		width: 435px;
	}
}