extends layout

block style

    link(rel='stylesheet' href='/css/main.min.css')

block content

    #banner
        .inner.carousel.slide(data-ride="carousel")
            .carousel-inner
                .item.active
                    img(src="/image/slideshow001.jpg")
                .item
                    img(src="/image/slideshow002.jpg")
                .item
                    img(src="/image/slideshow003.jpg")
        ol.carousel-indicators
            li(data-target="#banner" data-slide-to="0")
            li(data-target="#banner" data-slide-to="1")
            li.active(data-target="#banner" data-slide-to="2")
    ul#phone-list
        li
            img.img(src='/image/phone-iphone5.png')
            .descrip
                .brand iPhone
                .item 5/5s/5c
        li
            img.img(src='/image/phone-ipad.png')
            .descrip
                .brand iPad
                .item air/mini
        li
            img.img(src='/image/phone-samsung.png')
            .descrip
                .brand Samsung
                .item S5
        li
            img.img(src='/image/phone-htc.png')
            .descrip
                .brand HTC
                .item M8
        li
            img.img(src='/image/phone-sony.png')
            .descrip
                .brand Sony
                .item Z2
        li
            img.img(src='/image/phone-zan5.png')
            .descrip
                .brand Zanfong
                .item 5
        li
            img.img(src='/image/phone-zan6.png')
            .descrip
                .brand Zanfong
                .item 6

    #info
        img.new-img(src='/image/new.png')
        img.hotsale-img(src='/image/hot_sale.png')