doctype html
html.no-js
    head
        title perskinn
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description' content='')
        link(rel='stylesheet', href='/css/app.styles.min.css')
        
        block style

    body
        | <!--[if lt IE 10]>
        |     <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        | <![endif]-->
        .wrapper
            header
                img(src='/image/logo.png')
            nav
                #main-btn.btn-toolbar.pull-left
                    .btn-group: a.btn 關於我們
                    .btn-group
                        #product-list.dropdown
                            a#product-btn.btn.dropdown-toggle(data-toggle='dropdown') 產品介紹
                            ul.dropdown-menu(role='menu' aria-labelledby='product-btn')
                                li(role='presentation'): a(role='menuitem' tabindex='-1' href='#') 玻璃保護貼
                                li(role='presentation'): a(role='menuitem' tabindex='-1' href='#') 抗藍光保護貼
                                li(role='presentation'): a(role='menuitem' tabindex='-1' href='#') 自我修復保護貼
                    .btn-group: a.btn 最新資訊
                    .btn-group: a.btn 經銷據點
                #lang.btn-toolbar.pull-right
                    .btn-group: a.btn 中文
                    .btn-group: a.btn ENGLISH
                .clearfix

            block content

            footer
                .wrapper
                    ul#network-site
                        li: a(href='#')
                            div.weibo
                        li: a(href='#')
                            div.pinterest
                        li: a(href='#')
                            div.facebook
                        li: a(href='#')
                            div.youtube
                        li: a(href='#')
                            div.twitter
                    p Copyright 2014 Perskinn. All rights reserved

        if settings.env == 'development'
          script(src='http://localhost:35729/livereload.js')
        script(src='/js/app.min.js')
