@charset "UTF-8";
/* line 120, ./icon/*.png */
.icon-sprite, footer ul#network-site li a .facebook, footer ul#network-site li a .pinterest, footer ul#network-site li a .twitter, footer ul#network-site li a .weibo, footer ul#network-site li a .youtube {
  background-image: url('../image/./icon-sf33a373bdd.png');
  background-repeat: no-repeat;
}

/* Responsive: Portrait tablets and up */
@font-face {
  font-family: "Hero Light";
  src: "fonts/Hero.otf";
}
/* Space out content a bit */
/* line 27, ../sass/layout.scss */
body {
  font-family: "Hero Light", "微軟正黑體";
  display: table;
  width: 100%;
  height: 100%;
  margin: 0px;
}

/* line 36, ../sass/layout.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Hero Light", "微軟正黑體";
}

/* line 40, ../sass/layout.scss */
ul, li {
  list-style: none;
}

/* line 44, ../sass/layout.scss */
a {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #888;
}
/* line 48, ../sass/layout.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 53, ../sass/layout.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 60, ../sass/layout.scss */
.wrapper {
  width: 100%;
  height: 100%;
}

/* line 65, ../sass/layout.scss */
header {
  width: 800px;
  margin: 30px auto 20px;
  padding-left: 15px;
}

/* line 71, ../sass/layout.scss */
nav {
  width: 800px;
  margin: auto;
}
/* line 75, ../sass/layout.scss */
nav ul {
  margin: 10px 0;
}
/* line 81, ../sass/layout.scss */
nav #main-btn .btn, nav #lang .btn {
  background: none;
  outline: 0;
}
/* line 85, ../sass/layout.scss */
nav #main-btn .btn:active, nav #main-btn .btn.active, nav #lang .btn:active, nav #lang .btn.active {
  box-shadow: none;
}
/* line 93, ../sass/layout.scss */
nav #main-btn .btn-group {
  margin-right: 40px;
}
/* line 98, ../sass/layout.scss */
nav #main-btn #product-list:hover ul.dropdown-menu {
  opacity: 1;
  z-index: 99;
}
/* line 104, ../sass/layout.scss */
nav #main-btn ul.dropdown-menu {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  opacity: 0;
  z-index: 0;
}
/* line 116, ../sass/layout.scss */
nav #main-btn ul.dropdown-menu li {
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2px;
}
/* line 121, ../sass/layout.scss */
nav #main-btn ul.dropdown-menu a:hover, nav #main-btn ul.dropdown-menu a:focus {
  background: none;
  color: #fff;
}

/* line 132, ../sass/layout.scss */
footer {
  width: 100%;
  background-color: #3d342d;
  color: rgba(255, 255, 255, 0.2);
}
/* line 137, ../sass/layout.scss */
footer ul#network-site {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 800px;
  padding: 80px 0 25px 0;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: right;
}
/* line 49, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_inline-block-list.scss */
footer ul#network-site li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 145, ../sass/layout.scss */
footer ul#network-site li {
  padding: 0px;
  padding-left: 20px;
}
/* line 150, ../sass/layout.scss */
footer ul#network-site li a:hover {
  color: rgba(255, 255, 255, 0.8);
}
/* line 154, ../sass/layout.scss */
footer ul#network-site li a div {
  width: 125px;
  height: 25px;
}
/* line 159, ../sass/layout.scss */
footer ul#network-site li a .facebook {
  background-position: 0 -225px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
footer ul#network-site li a .facebook:hover, footer ul#network-site li a .facebook.facebook-hover {
  background-position: -112px -200px;
}
/* line 163, ../sass/layout.scss */
footer ul#network-site li a .pinterest {
  background-position: -224px -175px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
footer ul#network-site li a .pinterest:hover, footer ul#network-site li a .pinterest.pinterest-hover {
  background-position: -349px -150px;
}
/* line 167, ../sass/layout.scss */
footer ul#network-site li a .twitter {
  background-position: -474px -125px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
footer ul#network-site li a .twitter:hover, footer ul#network-site li a .twitter.twitter-hover {
  background-position: -573px -100px;
}
/* line 171, ../sass/layout.scss */
footer ul#network-site li a .weibo {
  background-position: -672px -75px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
footer ul#network-site li a .weibo:hover, footer ul#network-site li a .weibo.weibo-hover {
  background-position: -765px -50px;
}
/* line 175, ../sass/layout.scss */
footer ul#network-site li a .youtube {
  background-position: -858px -25px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
footer ul#network-site li a .youtube:hover, footer ul#network-site li a .youtube.youtube-hover {
  background-position: -979px 0;
}
/* line 182, ../sass/layout.scss */
footer p {
  text-align: center;
  margin-top: 20px;
}
